<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <body>

<!-- NAVBAR SECTION -->
<header class="hero-header">
    <div class="navbar">
        <a href="/" class="brand">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="VaxVision Logo">
            <span>VaxVision</span>
        </a>
        
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/mission">Mission</a>

    <div class="dropdown">
        <button class="dropbtn">
            Data <span class="arrow">▸</span>
        </button>
    <div class="dropdown-menu">
            <a href="/data">Vaccination Rates</a>
            <a href="/statistics">Infection Data</a>
    </div>
</div>
    <div class="dropdown">
            <button class="dropbtn">
            Insights <span class="arrow">▸</span>
            </button>
        
    <div class="dropdown-menu">
            <a href="/insights">Biggest Improvement</a>
            <a href="/trends">Above Average</a>
    </div>
</div>
</nav>
</div>
</header>


<!--  HERO SECTION START -->
<section class="explore-hero">
    <div class="explore-hero-content">
        <h1>Global Health at a glance</h1>
        <p>Bridging the gap between immunization data and disease prevention.</p>

        <a href="#snapshot-data" class="explore-btn">
            Start Exploring Data
        </a>

        <img 
            class="explore-image" 
            src="{{ url_for('static', filename='img/exploredata.png') }}" 
            alt="COVID-19 vaccine data"
        >
    </div>
</section>

<!-- Explore Content -->
<!-- Snapshot Data Section -->
<section id="snapshot-data" class="snapshot-section">

    <div class="snapshot-header">
        <h2>Snapshot Data</h2>

        <p>
            Dive into over 40 years of global health records. We analyze patterns across
            190+ countries to identify where immunization efforts are succeeding and
            where gaps remain.
        </p>

        <a href="/statistics" class="stats-btn">View All Statistics</a>
    </div>

    <div class="snapshot-grid">

        {% for card in snapshot_cards %}
        <div class="snapshot-img-card snap-card-{{ loop.index }}">

            <img 
                src="{{ url_for('static', filename=card.image) }}" 
                alt="{{ card.alt }}"
            >

            <div class="snapshot-card-text">
                <h3>{{ card.title }}</h3>
                <p>{{ card.description }}</p>
            </div>

        </div>
        {% endfor %}

    </div>
</section>
</div>
</body>
</html>